Options -MultiViews
RewriteEngine On
RewriteBase /

# Se o arquivo ou pasta existir de verdade (imagem, css), abra ele.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Caso contrário, mande tudo para index.php
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]